.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    position: absolute;
    left: -100%; /* Menggeser submenu ke kiri */
    top: 0;
}

/* Styling for autocomplete dropdown */
.ui-autocomplete {
  z-index: 999999;
}

.ui-autocomplete-row {
  padding: 8px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #ccc;
}

.ui-autocomplete-row:hover {
  background-color: #6777EF;
  color: white;
}

/* Styling for dropdown arrow */
.swal2-select::after {
  border-color: #000 transparent transparent;
}

/* Styling for item count */
.item-count {
  position: absolute;
  top: -10px;
  right: -15px;
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 12px;
}

/* Styling for scrollable card body */
.scrollable-card-body {
  max-height: 450px;
  overflow-y: scroll;
}

/* Additional styling for input fields */
.free {
  border: none;
  border-bottom: 3px solid black;
  outline: none;
  width: 4rem;
  text-align: left;
  font-size: 18px;
}

/* Additional styling for cart icon container */
.cart-icon-container {
  position: relative;
  display: inline-block;
  font-size: 24px;
}

/* Additional styling for client dropdown */
.client-list {
  list-style: none;
  padding: 0;
  text-align: left;
}

.client-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.client-item:hover {
  background-color: #f5f5f5;
}

/* Suggest Project */
#suggestionClient {
  border-radius: 2%;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  width: 89%;
  background-color: #f3f3f3;
}
.suggestion-item {
  padding: 10px;
  cursor: pointer;
}
.suggestion-item:hover {
  background-color: #e9ecefe2;
}